<!DOCTYPE html>
<html>
<head>
    <title>Sample Flask App</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <br>
        {% block content %}{% endblock %}
        <br>
    </div>
</body>
</html>
