{% extends "layout.html" %}
{% block content %}
  <div>
    <legend>Sign in</legend>
    {% with errors = get_flashed_messages() %}
    {% if errors %}
    <div>
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if loginform.errors %}
    <div>
    {% for field, error in loginform.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="." accept-charset="UTF-8" role="form">
      {{ loginform.csrf_token }}
      {{ loginform.username }}<br>
      {{ loginform.password }}
      <div>
      <label>
        <input type="checkbox" name="remember" value="1"> Remember Me
      </label>
      <a role="button" href="">Forgot your password?</a><span class="clearfix"></span>
      </div>
      <button type="submit" name="submit">Sign in</button>
    </form>
  </div>
{% endblock %}
